@mixin size ($width, $height) {
  width: $width;
  height: $height;
}

body {  
  background-color: #151515;
  color: #fff;
  margin: 0;
}
.header {
  background-color: #fa4f4f;
  &__h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    padding: 5px;
    padding-left: 30px;
  }
}

.section {
  padding-block: 20px;
  &__page, &__page--active {
    padding: 10px;
    padding-inline: 15px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
  }
  &__page--active {
  background-color: #fff;
    color: #000;
  }
  &__pagination-list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    padding-left: 30px;
  }
  &__h2 {
    padding-left: 30px;
    margin-top: 0;
  }
  &__list {
    display: flex;
    column-gap: 15px;
    margin: 0;
    padding: 0;
    padding-inline: 30px;
    list-style-type: none;
  }
  &__items-container {
    display: flex;
    justify-content: flex-start;
  }
  &__link {
    display: inline-block;
    @include size(100%, 100%);
  }
  &__rating {
    font-size: 2rem;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0;
  }
  &__header {
    margin-block: 10px;
  }
  &__release-date {
    margin: 0;
  }
  &__link:hover {
    cursor: pointer;
  }
}

